<h1>Teacher</h1>

<div class="row">
  <% @teachers.each do |teacher| %>
  <div class="col-md-3 col-sm-5">
    <h2><a href="/teachers/<%= teacher.id %>"><%= teacher.name %></a></h2>
    <h3>Name: <%= teacher.name %></h3>
    <h3>Bio: <%= teacher.bio %></h3>
    <h3>Certifications: <%= teacher.certifications %></h3>
    <br>
  </div>
  <% end %>
</div>
