<h1>New Teacher</h1>

<%= form_tag '/teachers', method: :post do %>

<div>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
</div>

<div>
  <%= label_tag :bio %>
  <%= text_field_tag :bio %>
</div>

<div>
  <%= label_tag :certifications %>
  <%= text_field_tag :certifications %>
</div>

<% end %>
